.post {
  margin-bottom: 80px;
  border: 1px solid #0000004C;
  padding: 40px;
  &__imageLink {
  }
  &__image {
    height: auto;
  }
  &__time {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 5px 0 10px;
  }
  &__preview {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 24px;
    line-height: 26px;
    color: #444444FF;
    margin-bottom: 5px;
  }
  &__link {
    display: block;
    max-width: 200px;
    text-decoration: none;
    color: #000000FF;
    border-radius: 8px;
    border: none;
    background-color: #f6dfe0;
    text-align: center;
    padding: 10px 20px;
  }
}
